.canvas {
  width: 800px;
  height: 151px;
  border:1px solid black;
}

.container{
  width: 110px;
  height: 100%;
  float: left;
}

.section1 {
  border: 15px solid rgb(86, 143, 227);
}

.section2 {
  border: 15px solid rgb(236, 120, 25);
}

.section3 {
  border: 15px solid rgb(41, 93, 111);
}

.hidden-content {
  display: none;
}
.section6{
  border: 15px solid rgb(124, 49, 123);
}

.section7{
  border: 15px solid rgb(167, 158, 156);
}

.section8{
  border: 15px solid rgb(241, 57, 98);
}
