.canvas {
  width: 1200px;
  height: 110px;
  border:1px solid black;
}

.container{
  width: 90px;
  height: 90px;
  float: left;
}

.section1 {
  border: 15px solid rgb(86, 143, 227);
}

.section2 {
  border: 15px solid rgb(236, 120, 25);
}

.section3 {
  border: 15px solid rgb(41, 93, 111);
}

.hidden-content {
  display: none;
  /*border: 15px none white;*/

}

.section6{
  border: 15px solid rgb(124, 49, 123);
  position: relative;
  top: 50px;
  left: 90px;
}

.section7{
  border: 15px solid rgb(167, 158, 156);
  position: relative;
  top: 50px;
  left: 90px;
}

.section8{
  border: 15px solid rgb(241, 57, 98);
  position: relative;
  top: 50px;
  left: 90px;
}
