body{
  margin-left: 100px;
}
h1{
  color: rgb(51, 60, 47);
  font-size: 5em;
}

footer {
  border: 2px dotted rgb(51, 60, 47);
  border-radius: 150px;
  padding: 10px;
  min-width: 5px;
  max-width: 300px;
  overflow: hidden;
}

p{
  margin: auto;
  padding: 2px;
}
.canvas {
  width: 600px;
  height: 110px;
  /*border:1px solid black;*/
}

.container{
  width: 100px;
  height: 100px;
  display: inline-block;
  /*float: left;*/
  margin-left: -5px;
}

.container-lg{
  border-radius: 1px 1px 150px 150px;
  width: 195px;
  height: 100px;
  display: inline-block;
  position: relative;
  top: -220px;
  margin-left: 25px;
  z-index: -2;

}

.section1 {
  border: 15px solid rgb(178, 197, 233);
  border-radius: .01px .01px .01px 150px;
}

.section2 {
  border: 15px solid rgb(235, 161, 38);

}

.section3 {
  border: 15px solid rgb(41, 93, 111);
  border-radius: .01px 150px .01px .01px;
}

.hidden-content {
  /*display: none;*/
  border: 15px none white;

}

.section6{
  border: 15px solid rgb(124, 49, 123);
  border-radius: .01px .01px .01px 150px;
  position: relative;
  top: 15px;
  left: 30px
}

.section7{
  border: 15px solid rgb(201, 194, 181);
  position: relative;
  top: 15px;
  left: 30px;
}

.section8{
  border: 15px solid rgb(241, 57, 98);
  border-radius: .01px 150px .01px .01px;
  position: relative;
  top: 15px;
  left: 30px;
}
.round1{
  background-color: rgb(67, 170, 53);
  /*border:15px solid rgb(67, 170, 53);*/
}
