.canvas {
  width: 600px;
  height: 110px;
  border:1px solid black;
}

.container{
  width: 100px;
  height: 100px;
  display: inline-block;
  /*float: left;*/
  margin-left: -5px;
  z-index: 8;
}

.container-lg{
  width: 195px;
  height: 85px;
  display: inline-block;
  position: relative;
  top: -225px;
  margin-left: 15px;
  border-radius: 1% 1% 150px 150px;
  z-index: -2;
}

.inside-box{
  border-radius: 1px 1px 150px 150px;
  margin: auto;
}

.section1 {
  border: 15px solid rgb(178, 197, 233);
  border-radius: .01px .01px .01px 150px;
}

.section2 {
  border: 15px solid rgb(235, 161, 38);

}

.section3 {
  border: 15px solid rgb(41, 93, 111);
  border-radius: .01px 150px .01px .01px;
}

.hidden-content {
  /*display: none;*/
  border: 15px none white;

}

.section6{
  border: 15px solid rgb(124, 49, 123);
  border-radius: .01px .01px .01px 150px;
  position: relative;
  top: 15px;
  left: 30px
}

.section7{
  border: 15px solid rgb(201, 194, 181);
  position: relative;
  top: 15px;
  left: 30px;
}

.section8{
  border: 15px solid rgb(241, 57, 98);
  border-radius: .01px 150px .01px .01px;
  position: relative;
  top: 15px;
  left: 30px;
}

.round1{
  background-color: rgb(67, 170, 53);
  border:15px solid rgb(67, 170, 53);
}
.round2{
  background-color:  rgb(208, 226, 116);
  border:  15px solid rgb(208, 226, 116);
  width: 80%;
  height: 70%;
}

.round3{
  background-color: rgb(230, 40, 98);
  border: 15px solid rgb(230, 40, 98);
  width: 80%;
  height: 70%;
  margin-top: -15px;
}

.round4{
  background-color: rgb(67, 122, 205);
  border: 15px solid rgb(67, 122, 205);
  width: 80%;
  height: 70%;
  margin-top: -15px;
}

.round5{
  background-color: rgb(233, 120, 187);
  border:  15px solid rgb(233, 120, 187);
  width: 70%;
  height: 70%;
  margin-top: -15px;
}

.round6{
  background-color: rgb(186, 178, 178);
    border:  15px solid rgb(186, 178, 178);
    width: 50%;
    height: 50%;
    margin-top: -15px;
}
