@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Chewy');

html{
font-family: 'Chewy', cursive;
font-family: 'Bree Serif', serif;
}


body{
  background-color: white;
  margin-left: 100px;

}

h1{
  background-color: white;
  color:purple;
  padding: .5%;
  font-size: 400%;
}

h2{
  color:grey;
}

li {
  border: 1px solid black;
  display: inline-block;
  width: 10%;
  padding: 1%;
  font-display: auto;
  overflow: hidden;
}

.column{
  width: 200px;
 float: right;
}

.main-section{
  width: 600px;
}

.social{
  width: 200;
  height: 200;
  background-color: white;
}

.logo{
  width: 200;
  height: 200;
  background-color:red;

}
