@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Chewy');

html{
font-family: 'Bree Serif', serif;
font-size: 16px;
}


body{
  background-color: white;
}

header{
  width: 100%;
  height: 50px;
  background-color: rgb(178,146,219);
  position: fixed;
  top: 0px;
  left: 0px;
}

footer{
  width: 100%;
  height: relative;
  background-color:rgb(152,102,226);
}

h1{
  background-color: white;
  color: rgb(152,102,226);
  padding: .5em;
  font-size: 400%;
  font-family: 'Chewy', cursive;
  font-size: 5em;
}

h2{
  color: rgb(18, 188, 137);
  font-family: 'Chewy', cursive;
  font-size: 3em;
}

/* MENU */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(152,102,226);

}

li, a, button{
  display: inline-block;
  padding: 0em 1em 0em 1em;
  text-align: center;
  text-decoration: none;
}

li:hover, button:hover {
  background-color: rgb(18, 188, 185);
}

p{
  text-indent: 2%;
}

/* LINKS */

a:visited{
  text-transform: none;
  color:black;
}

/* Classes */

.main-section{
  width: 100%;
  height: relative;
  min-width: 60%;
}

.feature-photo {
  max-width: 80%;
  margin: auto;
  background: url(../images/featured.jpg) no-repeat center;
  background-color: rgb(178,146,219);
  background-size: cover;
  height: 600px;
  position: relative;
  text-align: center;
  /*padding-top: 10em;*/
  z-index: -1;
}

.logo, address {
  width: relative;
  background-color: rgb(18, 188, 185);
  position: relative;
  display: block;
}

.social {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  position: relative;
  display: block;
}

.tagline, .link {
    border: none;
    background-color: inherit;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}

.tagline:hover{
  background-color: inherit;
}
.link{
  max-width: 200px;
  position: relative;
}

.hidden{
 display: none;
}

.link:hover .hidden{
  display: block;
  width: 200px;
}
