@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Chewy');

html{
font-family: 'Chewy', cursive;
font-family: 'Bree Serif', serif;
}

li {
  border: 1px solid black;
  display: inline-block;
  width: 100px;
}

body{
  background-color: white;

}
h1{
  color: white;
}
h2{
  color:grey;
}

.column{
  width: 200px;

}

.main-section{
  width: 600px;
}

.social{
  width: 200;
  height: 200;
  background-color: white;
}

.logo{
  width: 200;
  height: 200;
  background-color:red;

}
