@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Chewy');

html{
font-family: 'Chewy', cursive;
font-family: 'Bree Serif', serif;
font-size: 16px;
}


body{
  background-color: white;
}

header{
  width: 100%;
  background-color: rgb(178,146,219);
  margin-left: -20px;
  margin-top: -20px;
  padding: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
}

footer{
  width: 100%;
  height: 200px;
  background-color:rgb(152,102,226);
}

h1{
  background-color: white;
  color: rgb(152,102,226);
  padding: .5em;
  font-size: 400%;
}

h2{
  color:grey;
}

/* MENU */

li, button{
  border: 3px solid rgb(152,102,226);
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgb(18, 188, 185);
  overflow: hidden;
}

li:hover, button:hover {
  background-color: rgb(152,102,226);
}
p{
  text-indent: 2%;
}

/* LINKS */
a:link{
  text-transform: none;
  color: rgb(18, 188, 185);
}
a:visited{
  text-transform: none;
  color:black;
}

/* Classes */

.column{
  padding-left: .1em;
display: inline; 
}

.main-section{
  margin-left: 5%;
  min-width: 60%;
  background-image: url(" ./images/placeholder-2.png");
  background-color: gray;
}

.logo{
  width: 10em;
  height: 100%;
  background-color: rgb(18, 188, 185);
  position: relative;
}

.social {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  float: right;
}

.tagline {
    border: none;
    background-color: inherit;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}
