@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Chewy');

html{
font-family: 'Bree Serif', serif;
font-size: 16px;
}


body{
  background-color: white;
}

header{
  width: 100%;
  background-color: rgb(178,146,219);
  margin-left: -20px;
  margin-top: -20px;
  padding: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
}

footer{
  width: 100%;
  height: relative;
  background-color:rgb(152,102,226);
}

h1{
  background-color: white;
  color: rgb(152,102,226);
  padding: .5em;
  font-size: 400%;
  font-family: 'Chewy', cursive;
  font-size: 5em;
}

h2{
  color: rgb(18, 188, 137);
  font-family: 'Chewy', cursive;
  font-size: 3em;
}

/* MENU */

li, button{
  border: 3px solid rgb(152,102,226);
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgb(18, 188, 185);
  overflow: hidden;
}

li:hover, button:hover {
  background-color: rgb(152,102,226);
}
p{
  text-indent: 2%;
}

/* LINKS */
a:link{
  text-decoration: none;
  color: rgb(18, 188, 185);
}
a:visited{
  text-transform: none;
  color:black;
}

/* Classes */

.main-section{
  width: 100%;
  height: relative;
  min-width: 60%;
}

.feature-photo {
  max-width: 80%;
  margin: auto;
  background: url(../images/placeholder-2.png) no-repeat center;
  background-color: rgb(178,146,219);
  background-size: cover;
  height: 600px;
  position: relative;
  text-align: center;
  padding-top: 10em;
  z-index: -1;
}

.logo, address {
  width: relative;
  background-color: rgb(18, 188, 185);
  position: relative;
  display: block;
}

.social {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  position: relative;
  display: block;
}

.tagline {
    border: none;
    background-color: inherit;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}

#CTA {
  margin: auto;
}
