/* I have headers and footers, check what I need to add for older browers to see them correctly*/

.body {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5em;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 2em;
  font-style: italic;
}

p {
  line-height: 1.5em;
  text-indent: 1.5em;
}
/* MENU */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 5%;
  background-color: #FFFFFF;
}

li{
   float: left;
 }

li, a, .link{
  display: inline-block;
  padding: .5em 1em .5em 1em;
  text-align: center;
  text-decoration: none;
  color: #EA6E8B;
}

a:visited {
  color: #707070;
}
a:active, a:hover{
  color: #3FA4BE;
}

/* Classes */
.book{
  width: 20%;
  float: left;
  padding-left: 5%;
  padding-bottom: 1%;
}
.feature-image {
  width: 65%;
  height: 20em;
  background-image: url("../images/FDRAdventure00-cropped.png");
  float: left;
  position: relative;
}

.banner {
  background-color: #EA6E8B;
  width: 100%;
  float: left;
}

.logo-firstname {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 10%;
  margin-bottom: -.4em;
  letter-spacing: .5em;
}

.logo-lastname {
  color: #EA6E8B;
  text-transform: uppercase;
  margin-left: 10%;
  margin-bottom: 1%;
  letter-spacing: .5em;
}

.section-left{
  width: 40%;
  float: left;
  margin-top: -3em;
}

.excerpt {
  width: 50%;
  max-height: 400px;
  padding-left: 1em;
  float: left;
  overflow: scroll;
}

.footer{
  width: 100%;
  background-color: #EA6E8B;
  padding: 20px 0px 20px 0px;
  float: left;
}

#dropcap::first-letter{
  font-size: 4em;
}

#dropcap::first-line{
  letter-spacing:  .2em;
}
