@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

@font-face{
  font-family: 'AlternateGothic2';
  src: url('../fonts/AlternateGothicNo2BT.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 105%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 400%;
  font-family: 'AlternateGothic2', sans-serif;
}

h2{
  font-size: 2.5em;
  font-family: 'AlternateGothic2', sans-serif;
  margin-left: 1em;
  padding-top: 2em;
}

h3{
  font-size: 2em;
    color: #707070;
    font-variant: small-caps;
  font-family: 'Noto Serif', serif;
}

p {
  line-height: 1.5em;
  text-indent: 1.5em;
  font-family: 'Noto Serif', serif;
  padding-left: 1%;
}

/* MENU */

header {
  position: sticky;
  top: 0;
  left: 5px;
  width: 100%;
    background-color: #FFFFFF;
    padding: 0;
    border-bottom: 5px solid #EA6E8B;
  z-index: 2;
}

ul {
  list-style-type: none;
     display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width:50%;
  max-width: 100%;
  background-color: #FFFFFF;
}

li{
   display: inline-block;
   text-align: center;
   min-width: 3em;
   max-width: 6em;
  padding: 1em;
  color: #EA6E8B;
  text-decoration: none;
}
li:hover{
  background-color: #EA6E8B;
}

/* Links */

a.home{
    padding: .5em 1em .5em 1em;
    color: #EA6E8B;
    text-align: center;
    text-decoration: none;
}

a.home:visited, a.buy:visited, a{
  color: #707070;
}
a.home:active, a.home:hover, a:active{
  color: #3FA4BE;
}

a.buy {
  text-align: center;
  text-decoration: none;
}

/* Header */

.banner {
  width: 100%;
  background-color: #EA6E8B;
  float: left;
}

#firstname {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: .5em;
}

/* Main Content */

.book{
  min-width: 20%;
  min-height: 260px;
  float: left;
  padding: 1%;
  z-index: 2;
}

.excerpt {
  width: 50%;
  max-height: 400px;
  overflow: scroll;
}

.main-section{
  padding-left: 2em;
  padding-bottom: 2%;
}

.call-to-action{
  letter-spacing: 1%;
  font-family: "AlternativeGothic2", sans-serif;
}

#dropcap::first-letter{
  font-size: 4em;
}

#dropcap::first-line{
  letter-spacing:  .2em;
}

/* Images */

.small-image {
  width: 175px;
  height: 290px;
}
.medium-image {
  width:260px;
  height:400px;
}

.featured-image {
  width: 100%;
  max-width:600px;
}

/* Footer */
.icon{
  display: block;
  padding: 20px;
  float: right;
}

/* Contact form */

textarea#message {
  position:relative;
  left: 25px;
  border-color: #EA6E8B;
}

#robot-check{
  position: relative;
  left: 25px;
}

input#submit, button {
  background-color: #FFDE59;
  border-top:  2px solid #FFCE59;
  border-left: 2px solid #FFCE59;
  border-right: 2px solid #cd9d29;
  border-bottom: 2px solid #cd9d29;
  padding: 5px;
  position: relative;
  left: 25px;
  z-index: 1;
}

input#submit:hover, button:hover{
  background-color: #3FA4BE;
  border-top:  2px solid #68b2c6;
  border-left: 2px solid #68b2c6;
  border-right: 2px solid #235f6f;
  border-bottom: 2px solid #235f6f;
  padding: 5px;
}
