/* if I have headers and footers, check what I need to add for older browers to see them correctly*/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
  font-size: 105%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5em;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 2em;
    color: #707070;
    font-variant: small-caps;
  font-family: 'Noto Serif', serif;
}

p {
  line-height: 1.5em;
  text-indent: 1.5em;
  font-family: 'Noto Serif', serif;
  padding-left: 1%;
}


/* MENU */

header {
  position: sticky;
  top: 0;
  left: 5px;
  width: 100%;
    background-color: #FFFFFF;
    padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 60%;
  background-color: #FFFFFF;
}

li{
   display: inline-block;
   margin-left: 5%;
   text-align: center;
   min-width: 3em;
   max-width: 4em;
  padding: .2em;
  color: #EA6E8B;
  text-decoration: none;
}

a.home{
    padding: .5em 1em .5em 1em;
    color: #EA6E8B;
    text-align: center;
    text-decoration: none;
}

a.home:visited {
  color: #707070;
}
a.home:active, a.home:hover{
  color: #3FA4BE;
}

.subdomain-menu{
    min-width: 40%;
    background-color: #EA6E8B;
    float: right;
}

a.subdomain-menu{
  color: #FFFFFF;
  padding: .5em 1em .5em 1em;
  text-align: center;
  text-decoration: none;
}

a.subdomain-menu:visited {
  color: #707070;
}
a.subdomain-menu:active, a.subdomain-menu:hover{
  color: #3FA4BE;
}

/* Classes */
.book{
  min-width: 20%;
  min-height: 260px;
  float: left;
  padding: 1%;
  z-index: 2;
}

.banner {
  border: 1px solid black;
  width: 100%;
  height: inherit;
  background-color: #EA6E8B;
  float: left;
}

#firstname {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: .5em;
}

.excerpt {
  width: 50%;
  max-height: 400px;
  overflow: scroll;
}

.footer{
  width: 100%;
  height: 100px;
  backgroud-color: #EA6E8B;
  float: left;
}

.book-description, .coming-soon {

  min-width: 50%;
  max-width:60%;
  float:left;
  padding: 2%;
  margin: auto;
  z-index: -8;
}

#dropcap::first-letter{
  font-size: 4em;
}

#dropcap::first-line{
  letter-spacing:  .2em;
}

#call-to-action{
  letter-spacing: 1%;
}
