/* I have headers and footers, check what I need to add for older browers to see them correctly*/

.body {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5em;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 2em;
  font-style: italic;
}

p {
  line-height: 1.5em;
  text-indent: 1.5em;
}

header{
  position: static;
  top:0;
  left:0;
}
/* MENU */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 5%;
  background-color: #FFFFFF;
  border: 1px solid black;
}

li{
   float: left;
   display: inline-block;
   text-align: center;
   margin-left: 5%;
/*    padding: .5em 1em .5em 1em;
  color: #EA6E8B;
  text-decoration: none;*/
}

a.home{
    padding: .5em 1em .5em 1em;
    color: #EA6E8B;
    text-align: center;
    text-decoration: none;
}

a.home:visited {
  color: #707070;
}
a.home:active, a.home:hover{
  color: #3FA4BE;
}

.subdomain-menu{
    min-width: 40%;
    background-color: #EA6E8B;
    float: right;
}

a.subdomain-menu{
  color: #FFFFFF;
  padding: .5em 1em .5em 1em;
  text-align: center;
  text-decoration: none;
}

a.subdomain-menu:visited {
  color: #707070;
}
a.subdomain-menu:active, a.subdomain-menu:hover{
  color: #3FA4BE;
}

/* Classes */
.book{
  min-width: 20%;
  min-height: 260px;
  float: left;
  padding: 1%;
  z-index: 2;
}
.feature-image {
  width: 65%;
  height: 20em;
  background-image: url("../images/FDRAdventure00-cropped.png");
  float: left;
  position: relative;
}

.banner {
  border: 1px solid black;
  width: 100%;
  background-color: #EA6E8B;
  float: left;
}

.logo {
  border: 1px solid red;
  float:left;
  position: relative;
  top: 30px;
  left: 100px;
}

#firstname {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: .5em;
  margin-top: -5%;
  margin-left: 5%;
  margin-bottom: -3%;
}

#lastname {
  color: #EA6E8B;
  text-transform: uppercase;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 1%;
  letter-spacing: .5em;
}

.section-left{
  width: 40%;
  /*float: left*/
  margin-top: -3em;
}

.excerpt {
  width: 50%;
  max-height: 400px;
  padding-left: 1em;
  /*float: left;*/
  overflow: scroll;
}

.footer{
  width: 100%;
  background-color: #EA6E8B;
  padding: 20px 0px 20px 0px;
  float: left;
}

.book-description, .coming-soon {
  
  min-width: 50%;
  max-width:60%;
  float:left;
  padding: 2%;
  margin: auto;
  z-index: -8;
}

#dropcap::first-letter{
  font-size: 4em;
}

#dropcap::first-line{
  letter-spacing:  .2em;
}
